* {
  box-sizing: border-box;
}
body {
  width: 1080px;
  margin: 0 auto;
}
header {
  border-radius: 6px;
  background-color: #eee;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #eee;
  display: flex;
  align-items: center;
  box-shadow: 7px 1px 5px #ff000038, 4px -4px 5px #ffa5a538;
  margin: 35px 0;
  margin: 35px 0;
}
header h1 {
  margin: 50px;
}
main {
  /* background: #cdb4db; */
  background: #eee;
  box-shadow: 7px 1px 5px #ff060600, 4px -4px 5px #ff06061a,
    -4px 6px 5px #ff060617;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 6px;
}
main h3 {
  margin: 20px auto 0;
  color: #2a9d8f;
  font-size: xx-large;
}
.sec-img {
  width: 250px;
  margin: auto 0;
  height: 400px;
  border-radius: 5px 10px 10px 5px;
  cursor: pointer;
}
.sec-img:hover {
  border: 1px solid #caffbf;
  border-radius: 15px;
  box-shadow: 7px 1px 5px #ff06064f, 4px -4px 5px #ff06064f;
}
#sec-one {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  margin: -57px 0;
  height: 600px;
}
.p-sec {
  width: 65%;
  position: relative;
  bottom: 44px;
  text-align: justify;
}
/* .p-sec p {
  border: #caffbf6e 3px solid;
  position: absolute;
  bottom: 1px;
  margin-right: 40px;
  font-size: 23px;
  line-height: 25px;
  font-size: 19px;
  font-weight: bold;
} */
/* display: flex;
  width: 70%;
  flex-direction: row;
  align-items: flex-end;
} */
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  border-radius: 6px;
  background-color: #eee;
  display: flex;
  align-items: center;
  box-shadow: 7px 1px 5px #ff06062e, 4px -4px 5px #ff060608;
  padding: 30px;
  justify-content: center;
  margin: 35px 0;
}
div {
  height: 100%;
  width: 100%;
}
/* ul {
  border: #caffbf6e 1px solid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: bold;
} */
/* ul :hover,
.p-sec:hover {
  background-color: #78827541;
}
li {
  font-family: "Teko", sans-serif;
  padding: 8px;
  text-transform: capitalize;
}
li::before {
  content: "";
  border: 2px solid;
  background-color: teal;
  border-color: green;
  margin-right: 7px;
} */
button {
  background-color: #ff06064f;
  justify-content: center;
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 67px 15px 100px 50px;
  color: #eee;
  font-size: x-large;
  margin: 10px 0;
}
h3 {
  margin: 15px 13px;
}
button:hover {
  border-radius: 67px 15px 100px 50px;
  transition: ease-in-out 400ms;
  padding: 20px 40px;
  box-shadow: 7px 1px 5px #4e3e3e69, 4px -4px 5px #ff06064f;
}
aside div:hover {
  box-shadow: 7px 1px 5px #ff06062e, 4px -4px 5px #ff060608;
  transition: ease-in-out 400ms;
}
